@import './z-index.scss';
@import './media-queries';


@mixin pseudo-element($display: block, $pos: absolute, $content: '', $visibility: visible, $z-index: auto){
    content: $content;
    display: $display;
    position: $pos;
    visibility: $visibility;
    z-index: $z-index;
}

@mixin auth-page {
    height: 100vh;
    padding: 30px 150px;

    @include tablet-l {
        justify-content: center;
    }

    @include tablet-m {
        padding: 30px 100px;
    }

    @include mobile-xl {
        padding: 20px;
    }

    @include mobile-m {
        padding: 10px;
    }
}

@mixin auth_form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include tablet-l {
        width: 90%;
    }
}

