@import '@/app/styles/mixin.scss';

.form {
    @include auth_form;
}

.par {
    opacity: var(--opacity-xl);
    color: var(--secoundry-black-color);
}

.forgotPassword {
    color: var(--green-color);
    text-decoration: none;
    font-size: var(--font-size-xs);
    font-weight: 500;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: var(--green-color);
    }
}

.signUpLink {
    color: var(--green-color);
    text-decoration: none;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 4px;
        text-decoration-color: var(--green-color);
    }
}

.password {
    position: relative;
    width: 100%;
}

.password_btn {
    background: none;
    position: absolute;
    top: 48px;
    right: 24px;
}

.checkbox {
    display: flex;
    align-items: center;
    color: var(--black-color);
    font-size: var(--font-size-xs);
    font-weight: 500;
    position: relative;
    padding-left: 30px;

    .hiddenCheckbox {
        display: none; 
    }

    .customCheckbox {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        border-radius: 4px;
        background-color: var(--white-color);
        border: 2px solid var(--green-color);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;
    }

    .customCheckbox img {
        width: 12px;
        height: 12px;
        display: none; 
    }

    .hiddenCheckbox:checked + .customCheckbox {
        background-color: var(--green-color);
    }

    .hiddenCheckbox:checked + .customCheckbox img {
        display: block;
    }
}


