.headerSection {
    display: flex;
    flex-direction: column;
    gap: var(--gap-16);
  
    .wrapper {
      display: flex;
      align-items: center;
      gap: var(--gap-16);
    }
  
    .line {
      width: 24px;
      height: 0;
      border: 2px solid var(--yellow-color);
    }
  
    .subTitle {
      font-size: var(--font-size-24);
      color: var(--black-color);
    }
  
    .title {
      font-size: var(--font-size-47);
      font-weight: 600;
      color: var(--black-color);
  
      span {
        color: var(--green-color);
      }
    }
  }